.Main__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 10%;
}

.Main__body .Main__bodyCard {
  width: 400px;
  font-size: 25px;
  border-radius: 12px;
  border-right: 2px solid orange;
  border-bottom: 2px solid orange;
  padding: 5px;
}

.Main__body .Main__bodyCard .img__container img {
  width: 75px;
}

.Main__body .Main__bodyCard .img__container {
  background: orange;
  width: 100px;
  height: 100px;
  align-items: center;
  padding: 8px;
  border-radius: 50px;
  text-align: center;
}

.Cards__cont {
  display: grid;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 25rem);
  margin-left: 50px;
  row-gap: -50px;
  /* border: 1px solid ; */
  /* width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px; */
}

.Explore {
  font-size: 25px;
  background: orange;
  margin: 10px;
  padding: 9px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.Explore__icon {
  margin-left: -20px;
  transition: all ease 0.3s;
  background: rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 5px;
  border: 1px solid orange;
  /* border: 1px solid black; */
}

.Explore:hover {
  color: black;
}

.Explore__icon:hover {
  transform: scale(1.2);
}

.Main__experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20%;
  margin: 10% 15px;
  /* width: 100%; */
}

.Main__experience .Experience__details div {
  font-size: 1.3rem;
  font-weight: 600;
}

.Main__experience .Experience__details div ~ h1 {
  width: 30rem;
  /* border: 1px solid; */
}

.Main__experience .Experience__details div ~ h1 ~ p {
  width: 550px;
  font-size: 1.2rem;
font-weight: 500;
color: gray;
  /* border: 1px solid; */
}

.Main__experience .exp__data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.Main__experience .exp__data section h3{
  padding: 30px 12px;
  background: rgb(255, 111, 0);
  width:100px;
  height: 100px;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.Main__experience .exp__data section h3~p{
  width:100px;
  margin-left: -10px;
  color: gray;
}


.Main__gallery{
  columns: 4;
  margin: 20px 50px;
  column-gap: 20px;
}

.Main__gallery .Masonry__img{
  width:100%;
  margin-bottom: 20px;
}

.Main__gallery .Masonry__img img{
  max-width: 100%;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.Main__gallery .Masonry__img img:hover{
  transform: scale(1.05);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
