.Card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  width: 350px;
  height: 450px;
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Card__container img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}

.card_details__container {
  position: absolute;
  /* border: 1px solid orange; */
  background-color: rgba(112, 112, 112, 0);
  height: 310px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 140px;
  transition: all ease-out 0.3s;
  object-fit: cover;
  border-radius: 10px;
}

.card_details__container:hover {
  height: 100%;
  top: 0;
  background-color: rgba(111, 111, 197, 0.282);
  backdrop-filter: blur(10px);
}

.card_details__container .Icon {
  padding: 8px;
  text-align: center;
  border-radius: 50px;
  background-color: rgba(22, 23, 23, 0.421);
  margin: 10px;
}

.card_details__container button {
  background-color: rgba(255, 255, 255, 0.772);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: none;
  margin: 10px;
  height: 50px;
  transition: all ease-out 0.2s;
  width: 95%;
  position: absolute;
  top: 79%;
  opacity: 0;
  font-weight: 800;
  font-family: "Space Grotesk", sans-serif;
}

.card_details__container button:hover {
  color: white;
  background-color: rgb(255, 128, 0);
}

.card_details__container:hover button {
  opacity: 1;
}

.featured {
  position: absolute;
  color: white;
  left: 80%;
  top: 5%;
  font-size: 15px;
  background-color: rgb(255, 120, 10);
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
