.Hero__container {
  margin: 30px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.HeroImage__container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  align-items: center;
}

.video {
  width: 240px;
  height: 500px;
  object-fit: inherit;
  background-repeat: inherit;
  border: 1px solid orange;
  border-radius: 50px;
  margin-top: 15%;
}

.Hero__image1,
.Hero__image2 {
  width: 240px;
  height: 500px;
  border-radius: 50px;
  border: 1px solid orange;
  object-fit: cover;
}

.Hero__image1 {
  margin-top: 5%;
}

.Hero__image2 {
  margin-top: 25%;
}
