.Tours__container .Tours__header-image {
  position: relative;
}

.Tours__container .Tours__header-image div ~ img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.Tours__container .Tours__header-image div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.541);
}

.Tours__container .Tours__header-image div h1 {
  color: white;
  font-size: 70px;
  margin-top: 15%;
  text-align: center;
}

.Tours__card__cont{
 
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 1fr);
  margin-left: 5%;
}

.Tours__Cards {
 /* border: 1px solid ; */
 width: 100%;
 margin: 0 auto;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-wrap: wrap;
 padding: 10px;
}
