.Nav_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.588);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 1px;
  z-index: 100;
}

.List_elements {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}



.List_elements li:nth-child(4) {
  background-color: orange;
  padding: 5px 15px;
  border-radius: 50px;
  color: white;
}


.Route__link{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    font-weight: 600;
}

.Route__link:hover {
  color: orange;
 }

 .Route__link1{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    font-weight: 600;
}

.Route__link1:hover {
  color: white;
 }
