@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+BE+WAL:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  position: relative;
}
