.Form__cont {
  /* border: 1px solid; */
  width: 95%;
  margin: 2%;
  padding: 15px;
  background-color: rgb(17, 24, 40);
  border-radius: 10px;
}

label {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.Form__cont div {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.Form__cont div input {
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  /* margin: 1%; */
}

.Form__cont div input[type="radio"] {
  width: 50%;
}

.Form__cont section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.Form__cont button {
  /* margin: 10px; */
  width: 100%;
  padding: 12px;
  border: 0.2rem solid transparent;
  border-radius: 8px;
  background: linear-gradient(to right top, #ff7900, #ff9237, #ffa85d, #ffbe82, #ffd2a8);
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
  transition: all 0.5s ease-out;
}

.Form__cont button:hover{
  border: 0.2rem solid white;
  background: black;
  color: white;
}



.featured__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.featured__cont .boolean__val  {
  display: flex;
  /* border: 1px solid; */
  width: 5%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin: 5px;

}

.featured__cont .boolean__val input{
  width: 100px;
}

.featured__cont .boolean__val label{
  color: black;
}

textarea{
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  width: 70%;
}


