.single__tour__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.single__tour__cont .About__container {
  width: 800px;
  /* border: 1px solid;  */
  margin-bottom: 10%;
}

.single__tour__cont .About__container img {
  width: 100%;
  border-radius: 15px;
}

.single__tour__cont .About__container .Data {
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.189);
  padding: 20px;
  border-radius: 15px;
}

.single__tour__cont .About__container .Data .Details__sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

.Booking__container {
  width: 550px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 700px;
  border: 1px solid rgba(128, 128, 128, 0.189);
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-image: linear-gradient(
    to left bottom,
    #ffffff,
    #fbfbfb,
    #f7f7f7,
    #f4f4f4,
    #f0f0f0
  );
  /* margin-top: -120px; */
  z-index: 10;
  margin-top: -9%;
}

.Booking__container h3 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.189);
}

.Booking__container h3 ~ section form .form__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgba(128, 128, 128, 0.189);
  padding: 15px;
  border-radius: 15px;
}

.Booking__container h3 ~ section form input {
  margin: 20px;
  padding: 12px 14px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.189);
  border-radius: 8px;
}

.Booking__container button {
  width: 100%;
  padding: 8px 15px;
  background: orange;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 15px;
}

.calculation {
  display: flex;
  justify-content: space-around;
  margin: 8px;
  font-size: 17px;
  font-weight: 500;
  color: gray;
}


@media only screen and (min-width:0px) and (max-width:1394px){
  .single__tour__cont{
    gap: 5px;
  }
.Booking__container{
  margin-top:20px;
}
}

